<div class="container-fluid">
  <div class="row pt-3 pl-2 pb-4">
    <div class="col-lg-10">
      <div style=""></div>Logo
    </div>
    <div class="col-lg-2">
      <div style="height: 60px;">
        <div>You are logged in as</div>
        <div>Nuwan Sathyajith</div>
        <div><a href="">LOGOUT</a></div>
      </div>
    </div>
  </div>
</div>
