<div>
  <div class="row">
     <div class="col-lg-3 text-center">
      <button mat-button class="menu-font-color">Home</button>
     </div>
     <div class="col-lg-3 text-center">
      <button mat-button class="menu-font-color">Register New</button>
     </div>
     <div class="col-lg-3 text-center">
      <button mat-button class="menu-font-color">Search & Print</button>
     </div>
     <div class="col-lg-3 text-center">
      <button mat-button class="menu-font-color">Settings</button>
     </div>
  </div>
</div>
